body {
    margin: 0;
    font-family: Arial;
}

.top {
    padding: 10px;
    text-align: center;
}

.center {
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.speedWrap {
    display: flex;
    align-items: center;
    gap: 6px;
}